<a href="https://colab.research.google.com/github/FranciaAlday/Proyectos/blob/main/PLN/Tareas/Fechas_notas_med.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alday Martínez Francia Aide V.

417031233

Procesamiento de Lenguaje Natural 2024-1

# Expresiones Regulares Actividad Sumativa 4

Identificar correctamente todas las diferentes variantes de fecha codificadas en este conjunto de datos, normalizar y ordenar adecuadamente las fechas. Cada línea del archivo dates.txt corresponde a una nota médica. Cada nota tiene una fecha que debe extraerse, pero cada fecha está codificada en uno de muchos formatos. Aquí hay una lista de algunas de las variantes que puede encontrar en este conjunto de datos:

04/20/2009; 04/20/09; 4/20/09; 4/3/09

Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;

20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009

Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009

Feb 2009; Sep 2009; Oct 2010

6/2008; 12/2009

2009; 2010

## Encontrar las expresiones regulares para las fechas anteriores:

In [ ]:
import re
string = 'which foot or hand fell fastest'
re.findall(r'\bf[a-z]*', string)

['foot', 'fell', 'fastest']

In [ ]:
# 1
string =  '04/20/2009; 04/20/09; 4/20/09; 4/3/09; 4-13-82; 7-29-75; 011/14/83; 99/99/'
re.findall(r'\b0?\d{1,2}[/|-]\d{1,2}[/|-](?:\d{4}|\d{2})\b', string)
#\b\d{1,2}[/|-]\d{1,2}[/|-](?:\d{4}|\d{2})\b
#(?<!\d)\b\d{1,2}[/|-]\d{1,2}[/|-](?:\d{4}|\d{2})\b
#(?<!\d)\b(?:\d{1,2}[/|-])\d{1,2}[/|-](?:\d{4}|\d{2})\b

# (?<!\d) se llama negative lookbehind
# Ensures that the given pattern would not match and end at the current position in the expression.
# The pattern must have a fixed width.
# /(?<!not )foo/
# not foo but 'foo' (solo toma lo que esta entre ' ')

['04/20/2009',
 '04/20/09',
 '4/20/09',
 '4/3/09',
 '4-13-82',
 '7-29-75',
 '011/14/83']

In [ ]:
string = '04/20/2009; 04/20/09; 4/20/09; 4/3/09; 4-13-82; 7-29-75; 011/14/83'
matches = re.findall(r'\b(?:\d{1,2}[/|-]\d{1,2}[/|-](?:(?!83)\d{4}|\d{2})|(?<!\d)11/14/83)\b', string)
print(matches)

['04/20/2009', '04/20/09', '4/20/09', '4/3/09', '4-13-82', '7-29-75']

In [ ]:
# 2
string =  'Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009; 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009'
#re.findall(r'\b[\d{1,2} ]*[(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-zA-Z]*[-., ]*\d{1,2}[-,; ]*\d{1,4}\b', string)
re.findall(r'\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ .-]\d{1,2}(?:[ ,-]\s?\d{4})?\b', string)
#re.findall(r'\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)\s?(?:\d{1,2})?[ .,]?\s?\d{4}\b', string)

['Mar-20-2009', 'Mar 20, 2009', 'March 20, 2009', 'Mar 20 2009']

In [ ]:
# 2.1
string =  '20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009; 21 hola; 03 Co:'
re.findall(r'\b\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ .,]*\d{4}\b', string)

['20 Mar 2009', '20 March 2009', '20 Mar. 2009', '20 March, 2009']

In [ ]:
# 3
string =  'Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009'
#re.findall(r'\b[(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-zA-Z]*[ ]*\d{1,2}(?:st|nd|rd|th)[, ]*\d{4}\b', string)
re.findall(r'\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-zA-Z]* \d{1,2}(?:st|nd|rd|th)[, ]*\d{4}\b', string)
#(?:st|nd|rd|th),? \d{4}

['Mar 20th, 2009', 'Mar 21st, 2009', 'Mar 22nd, 2009']

In [ ]:
# 4
string =  'Feb 2009; Sep 2009; Oct 2010; 6/2008; 12/2009; 2009; x2000, Oc 1976'
#re.findall(r'\b[(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-zA-Z]* ]*[\d{1,2}/]*\d{4}\b', string)
re.findall(r'\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}\b|\b\d{1,2}/\d{4}\b', string)

['Feb 2009', 'Sep 2009', 'Oct 2010', '6/2008', '12/2009']

In [ ]:
# 5
string =  '2009; 2010'
re.findall(r'\b\d{4}\b', string)

['2009', '2010']

## Analizar el txt

In [ ]:
import pandas as pd

Cada línea del archivo dates.txt corresponde a una nota médica.

In [ ]:
# Leer el archivo de texto y dividir por saltos de línea
with open("dates.txt", 'r') as file:
    lineas = file.readlines()

# Crear una serie con las líneas
df = pd.Series(lineas, name='linea')

In [ ]:
df.head()

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
Name: linea, dtype: object

In [ ]:
len(df)

500

In [ ]:
type(df)

pandas.core.series.Series

### Match de las regex con el txt

In [ ]:
pattern = r'\b\d{1,2}[/|-]\d{1,2}[/|-](?:\d{4}|\d{2})\b'

In [ ]:
# lista para almacenar los resultados
resultados = []

# ciclo for para buscar matches en cada línea
for linea in df:
    matches = re.findall(pattern, linea)
    resultados.extend(matches)

In [ ]:
# 1a expresión: numeros
len(resultados)

124

Desde aquí cambio el **pattern** por cada expresión que reviso y veo cuales fueron las coincidencias en **resultados**

In [ ]:
# 2 expresión: mes(letras) día año
len(resultados)

30

In [ ]:
resultados

['April 11, 1990',
 'May 30, 2001',
 'Feb 18, 1994',
 'February 18, 1981',
 'Jan 24 1986',
 'July 26, 1978',
 'December 23, 1999',
 'May 15, 1989',
 'September 06, 1995',
 'Jan 27, 1983',
 'October 23 1990',
 'August 12 2004',
 'September 01, 2012',
 'July 25, 1983',
 'August 11, 1989',
 'April 17, 1992',
 'July 24, 1999',
 'July 11, 1997',
 'August 14, 1981',
 'Nov 11, 1988',
 'June 13, 2011',
 'May 14, 1989',
 'Dec 14 1975',
 'June 25, 2012',
 'Oct 18, 1980',
 'May 15, 1998',
 'October 14 1974',
 'July 25, 1998',
 'June 15, 1972',
 'January 07, 1991']

In [ ]:
# 2.1 expresión: día mes(letra) año
len(resultados)

69

In [ ]:
resultados

['24 Jan 2001',
 '10 Sep 2004',
 '26 May 1982',
 '28 June 2002',
 '06 May 1972',
 '25 Oct 1987',
 '14 Oct 1996',
 '30 Nov 2007',
 '28 June 1994',
 '14 Jan 1981',
 '10 Oct 1985',
 '11 February 1985',
 '10 Feb 1983',
 '05 Feb 1992',
 '21 Oct 2012',
 '14 Feb 1995',
 '30 May 2016',
 '22 Jan 1996',
 '14 Oct 1992',
 '06 Oct 2003',
 '18 Oct 1999',
 '11 Nov 2004',
 '30 May 2001',
 '02 Feb 1978',
 '09 Sep 1989',
 '12 March 1980',
 '22 June 1990',
 '28 Sep 2015',
 '13 Jan 1972',
 '06 Mar 1974',
 '10 Oct 1974',
 '26 May 1974',
 '10 Feb 1990',
 '23 Aug 2000',
 '26 May 2001',
 '21 Oct 2007',
 '19 Oct 2016',
 '05 Mar 1974',
 '29 Jan 1994',
 '21 Oct 1978',
 '18 August 1975',
 '11 Nov 1996',
 '01 Oct 1979',
 '13 Oct 1986',
 '21 Oct 1995',
 '24 Jan 2011',
 '04 Oct 1972',
 '23 Aug 1993',
 '18 Oct 2006',
 '04 Dec 1988',
 '21 Oct 1983',
 '26 May 2010',
 '18 Jan 1990',
 '15 Jun 1985',
 '10 Dec 1982',
 '09 Dec 1988',
 '18 August 1995',
 '13 June 1974',
 '26 May 2008',
 '11 Nov 2002',
 '17 Aug 1985',
 '13 Oct 2016',
 '14 Jan 2008',
 '12 March 2004',
 '21 Oct 1977',
 '10 Aug 2000',
 '30 Nov 1972',
 '06 May 1993',
 '18 Jan 1995']

In [ ]:
# 3a expresion: numero ordinales
len(resultados)

0

In [ ]:
# 4a expresión: mes y año
len(resultados)

237

In [ ]:
resultados

In [ ]:
# 5a expresión: año

## Extracción de fechas por nota

Hay que extraer las fechas de cada nota. Se tiene que quitar las notas conforme hagan match en el orden de las regex para que no haya coincidencias de mas de una.

Para la primera expresión regular:

\b\d{1,2}/\d{1,2}/(?:\d{4}|\d{2})\b

se puede cambiar a: \b0?\d{1,2}/\d{1,2}/(?:\d{4}|\d{2})\b para que tomara el 011/......

* verificar después que se arregle el 011

In [ ]:
# lista para almacenar las coincidencias
coincidencias_1 = []

# expresión regular
pattern = r'\b\d{1,2}[/|-]\d{1,2}[/|-](?:\d{4}|\d{2})\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df:
    match = re.search(pattern, linea)
    if match:
        coincidencias_1.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado)

Serie actualizada: 0                     011/14/83 Audit C Score Current:\n
1      s The patient is a 44 year old married Caucasi...
2      .10 Sep 2004 - Intake at EEC for IOP but did n...
3      see above and APS eval of 26 May 1982 Social H...
4      Tbooked for intake appointment at Sierra Vista...
                             ...
371    1979 Family Psych History: Family History of S...
372    therapist and friend died in ~2006 Parental/Ca...
373                         2008 partial thyroidectomy\n
374    sPt describes a history of sexual abuse as a c...
375    . In 1980, patient was living in Naples and de...
Name: linea, Length: 376, dtype: object

In [ ]:
coincidencias_1

['03/25/93',
 '6/18/85',
 '7/8/71',
 '9/27/75',
 '2/6/96',
 '7/06/79',
 '5/18/78',
 '10/24/89',
 '3/7/86',
 '4/10/71',
 '5/11/85',
 '4/09/75',
 '8/01/98',
 '1/26/72',
 '5/24/1990',
 '1/25/2011',
 '4/12/82',
 '10/13/1976',
 '4/24/98',
 '5/21/77',
 '7/21/98',
 '10/21/79',
 '3/03/90',
 '2/11/76',
 '07/25/1984',
 '4-13-82',
 '9/22/89',
 '9/02/76',
 '9/12/71',
 '10/24/86',
 '03/31/1985',
 '7/20/72',
 '4/12/87',
 '06/20/91',
 '5/12/2012',
 '3/15/83',
 '2/14/73',
 '5/24/88',
 '7/27/1986',
 '1-14-81',
 '7-29-75',
 '6/24/87',
 '8/14/94',
 '4/13/2002',
 '8/16/82',
 '2/15/1998',
 '7/15/91',
 '06/12/94',
 '9/17/84',
 '2/28/75',
 '11/22/75',
 '5/24/91',
 '6/13/92',
 '7/11/71',
 '12/26/86',
 '10/11/1987',
 '3/14/95',
 '12/01/73',
 '12/5/2010',
 '08/20/1982',
 '7/24/95',
 '8/06/83',
 '02/22/92',
 '6/28/87',
 '07/29/1994',
 '08/11/78',
 '10/29/91',
 '7/6/91',
 '1/21/87',
 '11/3/1985',
 '7/04/82',
 '4-13-89',
 '7/11/77',
 '4/12/74',
 '09/19/81',
 '9/6/79',
 '12/5/87',
 '01/05/1999',
 '4/22/80',
 '10/04/98',
 '6/29/81',
 '8/04/78',
 '7/07/1974',
 '09/14/2000',
 '5/18/71',
 '8/09/1981',
 '6/05/93',
 '8/9/97',
 '12/8/82',
 '8/26/89',
 '10/13/95',
 '4/19/91',
 '04/08/2004',
 '9/20/76',
 '12/08/1990',
 '4/11/1974',
 '7/18/86',
 '3/31/91',
 '5/13/72',
 '8/16/92',
 '10/05/97',
 '07/18/2002',
 '9/22/82',
 '2/24/74',
 '2/03/78',
 '2/11/2006',
 '8/22/83',
 '5/04/74',
 '7/20/2011',
 '6/17/95',
 '6/10/72',
 '10/16/82',
 '12/15/92',
 '12/8/97',
 '4/05/89',
 '12/04/87',
 '6/20/77',
 '4/27/2006',
 '07/17/92',
 '12/22/98',
 '10/02/96',
 '11/05/90',
 '5/04/77',
 '2/27/96']

In [ ]:
len(coincidencias_1)

124

Vamos por la segunda expresión regular:

\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ .-]\d{1,2}(?:[ ,-]\s?\d{4})?\b

In [ ]:
# lista para almacenar las coincidencias
coincidencias_2 = []

# expresión regular
pattern = r'\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ .-]\d{1,2}(?:[ ,-]\s?\d{4})?\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df_actualizado:
    match = re.search(pattern, linea)
    if match:
        coincidencias_2.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado_2 = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado_2)

Serie actualizada: 0                     011/14/83 Audit C Score Current:\n
1      s The patient is a 44 year old married Caucasi...
2      .10 Sep 2004 - Intake at EEC for IOP but did n...
3      see above and APS eval of 26 May 1982 Social H...
4      Tbooked for intake appointment at Sierra Vista...
                             ...
341    1979 Family Psych History: Family History of S...
342    therapist and friend died in ~2006 Parental/Ca...
343                         2008 partial thyroidectomy\n
344    sPt describes a history of sexual abuse as a c...
345    . In 1980, patient was living in Naples and de...
Name: linea, Length: 346, dtype: object

In [ ]:
coincidencias_2

['April 11, 1990',
 'May 30, 2001',
 'Feb 18, 1994',
 'February 18, 1981',
 'Jan 24 1986',
 'July 26, 1978',
 'December 23, 1999',
 'May 15, 1989',
 'September 06, 1995',
 'Jan 27, 1983',
 'October 23 1990',
 'August 12 2004',
 'September 01, 2012',
 'July 25, 1983',
 'August 11, 1989',
 'April 17, 1992',
 'July 24, 1999',
 'July 11, 1997',
 'August 14, 1981',
 'Nov 11, 1988',
 'June 13, 2011',
 'May 14, 1989',
 'Dec 14 1975',
 'June 25, 2012',
 'Oct 18, 1980',
 'May 15, 1998',
 'October 14 1974',
 'July 25, 1998',
 'June 15, 1972',
 'January 07, 1991']

In [ ]:
len(coincidencias_2)

30

Tercera expresión regular (esta como 2.1 porque hice una individual para los siguientes formatos de fechas):

\b\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ .,]*\d{4}\b

In [ ]:
# lista para almacenar las coincidencias
coincidencias_3 = []

# expresión regular
pattern = r'\b\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ .,]*\d{4}\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df_actualizado_2:
    match = re.search(pattern, linea)
    if match:
        coincidencias_3.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado_3 = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado_3)

Serie actualizada: 0                     011/14/83 Audit C Score Current:\n
1      none; but currently has appt with new HJH PCP ...
2      Mar. 10, 1976 CPT Code: 90791: No medical serv...
3      s Gale Youngquist is a 22 yo single Caucasian ...
4      September. 15, 2011 Total time of visit (in mi...
                             ...
272    1979 Family Psych History: Family History of S...
273    therapist and friend died in ~2006 Parental/Ca...
274                         2008 partial thyroidectomy\n
275    sPt describes a history of sexual abuse as a c...
276    . In 1980, patient was living in Naples and de...
Name: linea, Length: 277, dtype: object

In [ ]:
coincidencias_3

['24 Jan 2001',
 '10 Sep 2004',
 '26 May 1982',
 '28 June 2002',
 '06 May 1972',
 '25 Oct 1987',
 '14 Oct 1996',
 '30 Nov 2007',
 '28 June 1994',
 '14 Jan 1981',
 '10 Oct 1985',
 '11 February 1985',
 '10 Feb 1983',
 '05 Feb 1992',
 '21 Oct 2012',
 '14 Feb 1995',
 '30 May 2016',
 '22 Jan 1996',
 '14 Oct 1992',
 '06 Oct 2003',
 '18 Oct 1999',
 '11 Nov 2004',
 '30 May 2001',
 '02 Feb 1978',
 '09 Sep 1989',
 '12 March 1980',
 '22 June 1990',
 '28 Sep 2015',
 '13 Jan 1972',
 '06 Mar 1974',
 '10 Oct 1974',
 '26 May 1974',
 '10 Feb 1990',
 '23 Aug 2000',
 '26 May 2001',
 '21 Oct 2007',
 '19 Oct 2016',
 '05 Mar 1974',
 '29 Jan 1994',
 '21 Oct 1978',
 '18 August 1975',
 '11 Nov 1996',
 '01 Oct 1979',
 '13 Oct 1986',
 '21 Oct 1995',
 '24 Jan 2011',
 '04 Oct 1972',
 '23 Aug 1993',
 '18 Oct 2006',
 '04 Dec 1988',
 '21 Oct 1983',
 '26 May 2010',
 '18 Jan 1990',
 '15 Jun 1985',
 '10 Dec 1982',
 '09 Dec 1988',
 '18 August 1995',
 '13 June 1974',
 '26 May 2008',
 '11 Nov 2002',
 '17 Aug 1985',
 '13 Oct 2016',
 '14 Jan 2008',
 '12 March 2004',
 '21 Oct 1977',
 '10 Aug 2000',
 '30 Nov 1972',
 '06 May 1993',
 '18 Jan 1995']

In [ ]:
len(coincidencias_3)

69

Cuarta expresión regular (esta como la 3):

\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-zA-Z]* \d{1,2}(?:st|nd|rd|th)[, ]*\d{4}\b

In [ ]:
# lista para almacenar las coincidencias
coincidencias_4 = []

# expresión regular
pattern = r'\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-zA-Z]* \d{1,2}(?:st|nd|rd|th)[, ]*\d{4}\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df_actualizado_3:
    match = re.search(pattern, linea)
    if match:
        coincidencias_4.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado_4 = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado_4)

Serie actualizada: 0                     011/14/83 Audit C Score Current:\n
1      none; but currently has appt with new HJH PCP ...
2      Mar. 10, 1976 CPT Code: 90791: No medical serv...
3      s Gale Youngquist is a 22 yo single Caucasian ...
4      September. 15, 2011 Total time of visit (in mi...
                             ...
272    1979 Family Psych History: Family History of S...
273    therapist and friend died in ~2006 Parental/Ca...
274                         2008 partial thyroidectomy\n
275    sPt describes a history of sexual abuse as a c...
276    . In 1980, patient was living in Naples and de...
Name: linea, Length: 277, dtype: object

In [ ]:
len(coincidencias_4)

0

Quinta expresión regular (esta como la 4):

\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}\b|\b\d{1,2}/\d{4}\b

In [ ]:
# lista para almacenar las coincidencias
coincidencias_5 = []

# expresión regular
pattern = r'\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}\b|\b\d{1,2}/\d{4}\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df_actualizado_4:
    match = re.search(pattern, linea)
    if match:
        coincidencias_5.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado_5 = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado_5)

Serie actualizada: 0                     011/14/83 Audit C Score Current:\n
1      none; but currently has appt with new HJH PCP ...
2      Mar. 10, 1976 CPT Code: 90791: No medical serv...
3      s Gale Youngquist is a 22 yo single Caucasian ...
4      September. 15, 2011 Total time of visit (in mi...
                             ...
120    1979 Family Psych History: Family History of S...
121    therapist and friend died in ~2006 Parental/Ca...
122                         2008 partial thyroidectomy\n
123    sPt describes a history of sexual abuse as a c...
124    . In 1980, patient was living in Naples and de...
Name: linea, Length: 125, dtype: object

In [ ]:
coincidencias_5

['May 1986',
 'May 2016',
 'Jul 2003',
 'May 1995',
 'Feb 1978',
 'May 2004',
 'Nov 2010',
 'Sep 2012',
 'May 1983',
 'May 2005',
 'Jan 2007',
 'Feb 2016',
 'Oct 2014',
 'Sep 2015',
 'Apr 1976',
 'Nov 1979',
 'Oct 1986',
 'Jun 2002',
 'Oct 1980',
 'Dec 2009',
 'Feb 1993',
 'Apr 2007',
 'Sep 2013',
 'May 2012',
 'Jan 1987',
 'Mar 2010',
 'Sep 2007',
 'Jan 2004',
 'Aug 1979',
 'Jan 2009',
 'Dec 1992',
 'Mar 2002',
 'Feb 2000',
 'Feb 1994',
 'Oct 1992',
 'Jun 1976',
 'May 2011',
 'Jan 1978',
 'Jun 2007',
 'Dec 2007',
 'May 1980',
 'Nov 2007',
 '6/1998',
 '6/2005',
 '10/1973',
 '9/2005',
 '03/1980',
 '12/2005',
 '5/1987',
 '5/2004',
 '8/1974',
 '3/1986',
 '10/1997',
 '3/1993',
 '3/1981',
 '9/2003',
 '10/1993',
 '1/1983',
 '7/1994',
 '12/2008',
 '10/1980',
 '8/2003',
 '12/1975',
 '11/2010',
 '7/1997',
 '7/2014',
 '9/2001',
 '8/1986',
 '1/1978',
 '9/1975',
 '1/2009',
 '5/1995',
 '8/1989',
 '11/2000',
 '06/1973',
 '2/1999',
 '6/2001',
 '12/1978',
 '8/2009',
 '7/1973',
 '1/2014',
 '09/1975',
 '12/2012',
 '5/1999',
 '7/1989',
 '7/2009',
 '11/1998',
 '3/1995',
 '2/2009',
 '08/1988',
 '4/2007',
 '5/2000',
 '4/2012',
 '10/2001',
 '2/1977',
 '8/2008',
 '2/1983',
 '5/1979',
 '1/1992',
 '11/2008',
 '12/2014',
 '4/1974',
 '10/1981',
 '10/1986',
 '03/1973',
 '12/1994',
 '8/1999',
 '10/2010',
 '10/1994',
 '01/2007',
 '8/2010',
 '03/1990',
 '11/2016',
 '2/1973',
 '7/1987',
 '8/2000',
 '8/1975',
 '5/1977',
 '3/2000',
 '9/1984',
 '4/1973',
 '12/1986',
 '4/1979',
 '7/2004',
 '11/1984',
 '5/2016',
 '11/1982',
 '06/1981',
 '4/2013',
 '4/1999',
 '5/2006',
 '10/1978',
 '12/1989',
 '2/1974',
 '11/1986',
 '4/1983',
 '10/2014',
 '6/1989',
 '9/1980',
 '9/1992',
 '9/2000',
 '7/1981',
 '1/2008',
 '4/2002',
 '7/1985',
 '5/2010',
 '8/2002',
 '1/1994',
 '12/2004',
 '3/2003',
 '7/1991',
 '7/1982']

In [ ]:
len(coincidencias_5)

152

Sexta expresión regular (esta como la 5):

\b\d{4}\b

Esto coincidió con el número 7787 así que lo voy a modificar a \b(?!7787)\d{4}\b para que no lo tome

In [ ]:
# lista para almacenar las coincidencias
coincidencias_6 = []

# expresión regular
pattern = r'\b(?!7787)\d{4}\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df_actualizado_5:
    match = re.search(pattern, linea)
    if match:
        coincidencias_6.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado_6 = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado_6)

Serie actualizada: 0                   011/14/83 Audit C Score Current:\n
1                   s1981  Swedish-American Hospital\n
2    y1983 Clinic Hospital, first hospitalization, ...
3                                        y1974 (all)\n
4                                              r1978\n
Name: linea, dtype: object

In [ ]:
coincidencias_6

['2013',
 '1976',
 '1974',
 '2011',
 '1985',
 '2011',
 '1977',
 '1990',
 '2015',
 '1976',
 '1995',
 '2011',
 '2013',
 '1990',
 '1981',
 '1995',
 '1993',
 '1998',
 '1979',
 '1988',
 '2000',
 '1981',
 '2007',
 '1989',
 '1999',
 '1992',
 '2006',
 '2008',
 '2010',
 '1985',
 '1984',
 '1986',
 '1974',
 '1985',
 '2004',
 '1977',
 '1983',
 '2013',
 '2009',
 '2011',
 '1995',
 '2008',
 '1983',
 '1983',
 '1993',
 '1974',
 '1994',
 '2004',
 '1977',
 '2004',
 '2006',
 '1977',
 '1995',
 '1989',
 '1978',
 '2007',
 '1975',
 '1975',
 '2012',
 '1999',
 '1991',
 '1973',
 '1996',
 '1995',
 '1999',
 '2001',
 '2000',
 '1988',
 '1993',
 '1974',
 '1997',
 '1986',
 '1973',
 '1978',
 '1998',
 '2005',
 '1976',
 '2004',
 '2007',
 '1984',
 '2000',
 '2001',
 '1982',
 '1998',
 '2012',
 '1991',
 '1988',
 '2014',
 '2016',
 '1976',
 '2011',
 '1997',
 '2003',
 '1999',
 '2010',
 '1975',
 '1972',
 '2015',
 '1989',
 '1994',
 '1993',
 '1996',
 '2013',
 '1990',
 '1995',
 '2004',
 '1987',
 '1973',
 '1992',
 '1977',
 '1985',
 '2007',
 '2009',
 '1986',
 '2002',
 '1979',
 '2006',
 '2008',
 '2005',
 '1980']

In [ ]:
len(coincidencias_6)

120

In [ ]:
df_actualizado_6

0                   011/14/83 Audit C Score Current:\n
1                   s1981  Swedish-American Hospital\n
2    y1983 Clinic Hospital, first hospitalization, ...
3                                        y1974 (all)\n
4                                              r1978\n
Name: linea, dtype: object

Para estas ultimas notas voy a crear una nueva expresion

* verificar que estos años se escriban después correctamente

In [ ]:
# lista para almacenar las coincidencias
coincidencias_7 = []

# expresión regular
pattern = r'\b[a-z]\d{4}\b'

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df_actualizado_6:
    match = re.search(pattern, linea)
    if match:
        coincidencias_7.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado_7 = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado_7)

Serie actualizada: 0    011/14/83 Audit C Score Current:\n
Name: linea, dtype: object

In [ ]:
coincidencias_7

['s1981', 'y1983', 'y1974', 'r1978']

Falta la fecha de una sóla nota, como no quiero que me cause problemas al ordenar la voy a agregar yo, no es lo recomendable.

O puedo usar la regex que tome la fecha con el 011 y luego pedir que modifique ese 011 a 11

In [ ]:
nueva_fecha = '11/14/83'
coincidencias_1.append(nueva_fecha)

In [ ]:
len(coincidencias_1)

125

In [ ]:
nuevas_fechas = ['1981', '1983', '1974', '1978']
coincidencias_6.extend(nuevas_fechas)

In [ ]:
len(coincidencias_6)

124

Veamos que todas las coincidencias suman 500:

In [ ]:
len(coincidencias_1)+len(coincidencias_2)+len(coincidencias_3)+len(coincidencias_4)+len(coincidencias_5)+len(coincidencias_6)#+len(coincidencias_7)

500

El siguiente es para hacer todo lo anterior en una celda. Aún no lo pruebo.



```

# lista para almacenar las coincidencias
coincidencias = []

# Lista de expresiones regulares
pattern_list = [r'regex1', r'regex2', r'regex3', r'regex4', r'regex5', r'regex6']

# lista para ir almacenando las líneas que no hiceron match/coincidencia
lineas_sin_match = []

# Iterar sobre la Serie
for linea in df:
  # Iterar sobre la lista de expresiones regulares
  for pattern in pattern_list:
    match = re.search(pattern, linea)
    if match:
        coincidencias.append(match.group(0))
    else:
        lineas_sin_match.append(linea)

# Crear una nueva Serie con las líneas que no hicieron match
df_actualizado = pd.Series(lineas_sin_match, name='linea')

# Imprimir la Serie actualizada
print("Serie actualizada:", df_actualizado)

print(coincidencias)

```

## Orden cronológico de fechas

Una vez que haya extraído estos patrones de fecha del texto, el siguiente paso es clasificarlos en orden cronológico ascendente de acuerdo con las siguientes reglas:

*  Todas las fechas están en formato xx/xx/ xx son mm/dd/aa
*  Todas las fechas en las que el año está codificado en solo dos dígitos corresponden a años posteriores a la década de 1900 (p. Ej., 1/5/89 es el 5 de enero de 1989).
*  Si falta el día (p. Ej., 9/2009), suponga que es el primer día del mes (p. Ej., septiembre, 1 de 2009).
*  Si falta el mes (por ejemplo, 2010), suponga que es el primero de enero de ese año (p. Ej., enero, 1 de 2010).
*  Tenga cuidado con los posibles errores tipográficos, ya que este es un conjunto de datos derivados de la vida real.

Esta función debería devolver una lista de longitud 500.

In [ ]:
type(coincidencias_1)

list

In [ ]:
from datetime import datetime

# Como tengo una lista de strings
# Convertir los strings en objetos de fecha
fechas = []
for fecha_str in coincidencias_1:
    try:
        fecha = datetime.strptime(fecha_str, '%m/%d/%y')
    except ValueError:
        try:
            fecha = datetime.strptime(fecha_str, '%m/%d/%Y')
        except ValueError:
            try:
                fecha = datetime.strptime(fecha_str, '%m-%d-%y')
            except ValueError:
                fecha = datetime.strptime(fecha_str, '%m-%d-%Y')
    fechas.append(fecha)

# Ordenar las fechas cronológicamente
fechas_ordenadas_1 = sorted(fechas)

# Imprimir las fechas ordenadas en formato deseado
for fecha in fechas_ordenadas_1:
    print(fecha.strftime('%m/%d/%Y'))

04/10/1971
05/18/1971
07/08/1971
07/11/1971
09/12/1971
01/26/1972
05/13/1972
06/10/1972
07/20/1972
02/14/1973
12/01/1973
02/24/1974
04/11/1974
04/12/1974
05/04/1974
07/07/1974
02/28/1975
04/09/1975
07/29/1975
09/27/1975
11/22/1975
02/11/1976
09/02/1976
09/20/1976
10/13/1976
05/04/1977
05/21/1977
06/20/1977
07/11/1977
02/03/1978
05/18/1978
08/04/1978
08/11/1978
07/06/1979
09/06/1979
10/21/1979
04/22/1980
01/14/1981
06/29/1981
08/09/1981
09/19/1981
04/12/1982
04/13/1982
07/04/1982
08/16/1982
08/20/1982
09/22/1982
10/16/1982
12/08/1982
03/15/1983
08/06/1983
08/22/1983
11/14/1983
07/25/1984
09/17/1984
03/31/1985
05/11/1985
06/18/1985
11/03/1985
03/07/1986
07/18/1986
07/27/1986
10/24/1986
12/26/1986
01/21/1987
04/12/1987
06/24/1987
06/28/1987
10/11/1987
12/04/1987
12/05/1987
05/24/1988
04/05/1989
04/13/1989
08/26/1989
09/22/1989
10/24/1989
03/03/1990
05/24/1990
11/05/1990
12/08/1990
03/31/1991
04/19/1991
05/24/1991
06/20/1991
07/06/1991
07/15/1991
10/29/1991
02/22/1992
06/13/1992
07/17/1992
08/16/1992
12/15/1992
03/25/1993
06/05/1993
06/12/1994
07/29/1994
08/14/1994
03/14/1995
06/17/1995
07/24/1995
10/13/1995
02/06/1996
02/27/1996
10/02/1996
08/09/1997
10/05/1997
12/08/1997
02/15/1998
04/24/1998
07/21/1998
08/01/1998
10/04/1998
12/22/1998
01/05/1999
09/14/2000
04/13/2002
07/18/2002
04/08/2004
02/11/2006
04/27/2006
12/05/2010
01/25/2011
07/20/2011
05/12/2012

In [ ]:
len(fechas_ordenadas_1)

125

In [ ]:
# esto es para fechas sin guiones ejem: mm-dd-aaaa

# Como tengo una lista de strings
# Convertir los strings en objetos de fecha
fechas = []
for fecha_str in coincidencias_2:
    try:
        fecha = datetime.strptime(fecha_str, '%b %d %Y')
    except ValueError:
        try:
            fecha = datetime.strptime(fecha_str, '%b %d, %Y')
        except ValueError:
            try:
                fecha = datetime.strptime(fecha_str, '%B %d, %Y')
            except ValueError:
                try:
                    fecha = datetime.strptime(fecha_str, '%b. %d, %Y')
                except ValueError:
                    fecha = datetime.strptime(fecha_str, '%B %d %Y')
    fechas.append(fecha)

# Ordenar las fechas cronológicamente
fechas_ordenadas_2 = sorted(fechas)

# Imprimir las fechas ordenadas en formato deseado
for fecha in fechas_ordenadas_2:
    print(fecha.strftime('%m/%d/%Y'))

06/15/1972
10/14/1974
12/14/1975
07/26/1978
10/18/1980
02/18/1981
08/14/1981
01/27/1983
07/25/1983
01/24/1986
11/11/1988
05/14/1989
05/15/1989
08/11/1989
04/11/1990
10/23/1990
01/07/1991
04/17/1992
02/18/1994
09/06/1995
07/11/1997
05/15/1998
07/25/1998
07/24/1999
12/23/1999
05/30/2001
08/12/2004
06/13/2011
06/25/2012
09/01/2012

In [ ]:
len(fechas_ordenadas_2)

30

In [ ]:
fechas = []
for fecha_str in coincidencias_3:
    try:
        fecha = datetime.strptime(fecha_str, '%d %b %Y')
    except ValueError:
        try:
            fecha = datetime.strptime(fecha_str, '%d %B %Y')
        except ValueError:
            try:
                fecha = datetime.strptime(fecha_str, '%d %b. %Y')
            except ValueError:
                fecha = datetime.strptime(fecha_str, '%d %B, %Y')
    fechas.append(fecha)

# Ordenar las fechas cronológicamente
fechas_ordenadas_3 = sorted(fechas)

# Imprimir las fechas ordenadas en formato deseado
for fecha in fechas_ordenadas_3:
    print(fecha.strftime('%m/%d/%Y'))

01/13/1972
05/06/1972
10/04/1972
11/30/1972
03/05/1974
03/06/1974
05/26/1974
06/13/1974
10/10/1974
08/18/1975
10/21/1977
02/02/1978
10/21/1978
10/01/1979
03/12/1980
01/14/1981
05/26/1982
12/10/1982
02/10/1983
10/21/1983
02/11/1985
06/15/1985
08/17/1985
10/10/1985
10/13/1986
10/25/1987
12/04/1988
12/09/1988
09/09/1989
01/18/1990
02/10/1990
06/22/1990
02/05/1992
10/14/1992
05/06/1993
08/23/1993
01/29/1994
06/28/1994
01/18/1995
02/14/1995
08/18/1995
10/21/1995
01/22/1996
10/14/1996
11/11/1996
10/18/1999
08/10/2000
08/23/2000
01/24/2001
05/26/2001
05/30/2001
06/28/2002
11/11/2002
10/06/2003
03/12/2004
09/10/2004
11/11/2004
10/18/2006
10/21/2007
11/30/2007
01/14/2008
05/26/2008
05/26/2010
01/24/2011
10/21/2012
09/28/2015
05/30/2016
10/13/2016
10/19/2016

In [ ]:
len(fechas_ordenadas_3)

69

In [ ]:
fechas = []
for fecha_str in coincidencias_5:
    try:
        fecha = datetime.strptime(fecha_str, '%B %Y')
    except ValueError:
        try:
            fecha = datetime.strptime(fecha_str, '%b %Y')
        except ValueError:
            try:
                fecha = datetime.strptime(fecha_str, '%m/%Y')
            except ValueError:
                fecha = datetime.strptime(fecha_str, '%m/%Y')
    fechas.append(fecha)

# Ordenar las fechas cronológicamente
fechas_ordenadas_5 = sorted(fechas)

# Imprimir las fechas ordenadas en formato deseado
for fecha in fechas_ordenadas_5:
    print(fecha.strftime('%m/%d/%Y'))

02/01/1973
03/01/1973
04/01/1973
06/01/1973
07/01/1973
10/01/1973
02/01/1974
04/01/1974
08/01/1974
08/01/1975
09/01/1975
09/01/1975
12/01/1975
04/01/1976
06/01/1976
02/01/1977
05/01/1977
01/01/1978
01/01/1978
02/01/1978
10/01/1978
12/01/1978
04/01/1979
05/01/1979
08/01/1979
11/01/1979
03/01/1980
05/01/1980
09/01/1980
10/01/1980
10/01/1980
03/01/1981
06/01/1981
07/01/1981
10/01/1981
07/01/1982
11/01/1982
01/01/1983
02/01/1983
04/01/1983
05/01/1983
09/01/1984
11/01/1984
07/01/1985
03/01/1986
05/01/1986
08/01/1986
10/01/1986
10/01/1986
11/01/1986
12/01/1986
01/01/1987
05/01/1987
07/01/1987
08/01/1988
06/01/1989
07/01/1989
08/01/1989
12/01/1989
03/01/1990
07/01/1991
01/01/1992
09/01/1992
10/01/1992
12/01/1992
02/01/1993
03/01/1993
10/01/1993
01/01/1994
02/01/1994
07/01/1994
10/01/1994
12/01/1994
03/01/1995
05/01/1995
05/01/1995
07/01/1997
10/01/1997
06/01/1998
11/01/1998
02/01/1999
04/01/1999
05/01/1999
08/01/1999
02/01/2000
03/01/2000
05/01/2000
08/01/2000
09/01/2000
11/01/2000
06/01/2001
09/01/2001
10/01/2001
03/01/2002
04/01/2002
06/01/2002
08/01/2002
03/01/2003
07/01/2003
08/01/2003
09/01/2003
01/01/2004
05/01/2004
05/01/2004
07/01/2004
12/01/2004
05/01/2005
06/01/2005
09/01/2005
12/01/2005
05/01/2006
01/01/2007
01/01/2007
04/01/2007
04/01/2007
06/01/2007
09/01/2007
11/01/2007
12/01/2007
01/01/2008
08/01/2008
11/01/2008
12/01/2008
01/01/2009
01/01/2009
02/01/2009
07/01/2009
08/01/2009
12/01/2009
03/01/2010
05/01/2010
08/01/2010
10/01/2010
11/01/2010
11/01/2010
05/01/2011
04/01/2012
05/01/2012
09/01/2012
12/01/2012
04/01/2013
09/01/2013
01/01/2014
07/01/2014
10/01/2014
10/01/2014
12/01/2014
09/01/2015
02/01/2016
05/01/2016
05/01/2016
11/01/2016

In [ ]:
len(fechas_ordenadas_5)

152

In [ ]:
fechas = []
for year_str in coincidencias_6:
    try:
        # Asignar el 1 de enero como día y mes
        fecha = datetime.strptime('01/01/' + year_str, '%m/%d/%Y')
    except ValueError:
        fecha = None
    if fecha:
        fechas.append(fecha)

# Ordenar las fechas cronológicamente
fechas_ordenadas_6 = sorted(fechas)

# Imprimir las fechas ordenadas en formato deseado
for fecha in fechas_ordenadas_6:
    print(fecha.strftime('%m/%d/%Y'))

01/01/1972
01/01/1973
01/01/1973
01/01/1973
01/01/1974
01/01/1974
01/01/1974
01/01/1974
01/01/1974
01/01/1975
01/01/1975
01/01/1975
01/01/1976
01/01/1976
01/01/1976
01/01/1976
01/01/1977
01/01/1977
01/01/1977
01/01/1977
01/01/1977
01/01/1978
01/01/1978
01/01/1978
01/01/1979
01/01/1979
01/01/1980
01/01/1981
01/01/1981
01/01/1981
01/01/1982
01/01/1983
01/01/1983
01/01/1983
01/01/1983
01/01/1984
01/01/1984
01/01/1985
01/01/1985
01/01/1985
01/01/1985
01/01/1986
01/01/1986
01/01/1986
01/01/1987
01/01/1988
01/01/1988
01/01/1988
01/01/1989
01/01/1989
01/01/1989
01/01/1990
01/01/1990
01/01/1990
01/01/1991
01/01/1991
01/01/1992
01/01/1992
01/01/1993
01/01/1993
01/01/1993
01/01/1993
01/01/1994
01/01/1994
01/01/1995
01/01/1995
01/01/1995
01/01/1995
01/01/1995
01/01/1995
01/01/1996
01/01/1996
01/01/1997
01/01/1997
01/01/1998
01/01/1998
01/01/1998
01/01/1999
01/01/1999
01/01/1999
01/01/1999
01/01/2000
01/01/2000
01/01/2000
01/01/2001
01/01/2001
01/01/2002
01/01/2003
01/01/2004
01/01/2004
01/01/2004
01/01/2004
01/01/2004
01/01/2005
01/01/2005
01/01/2006
01/01/2006
01/01/2006
01/01/2007
01/01/2007
01/01/2007
01/01/2007
01/01/2008
01/01/2008
01/01/2008
01/01/2009
01/01/2009
01/01/2010
01/01/2010
01/01/2011
01/01/2011
01/01/2011
01/01/2011
01/01/2011
01/01/2012
01/01/2012
01/01/2013
01/01/2013
01/01/2013
01/01/2013
01/01/2014
01/01/2015
01/01/2015
01/01/2016

In [ ]:
len(fechas_ordenadas_6)

124

## Hacer una lista con todas las fechas

In [ ]:
fechas_total = fechas_ordenadas_1 + fechas_ordenadas_2 + fechas_ordenadas_3 + fechas_ordenadas_5 + fechas_ordenadas_6

In [ ]:
len(fechas_total)

500

In [ ]:
fechas_ordenadas = sorted(fechas_total)

In [ ]:
fechas_ordenadas

[datetime.datetime(1971, 4, 10, 0, 0),
 datetime.datetime(1971, 5, 18, 0, 0),
 datetime.datetime(1971, 7, 8, 0, 0),
 datetime.datetime(1971, 7, 11, 0, 0),
 datetime.datetime(1971, 9, 12, 0, 0),
 datetime.datetime(1972, 1, 1, 0, 0),
 datetime.datetime(1972, 1, 13, 0, 0),
 datetime.datetime(1972, 1, 26, 0, 0),
 datetime.datetime(1972, 5, 6, 0, 0),
 datetime.datetime(1972, 5, 13, 0, 0),
 datetime.datetime(1972, 6, 10, 0, 0),
 datetime.datetime(1972, 6, 15, 0, 0),
 datetime.datetime(1972, 7, 20, 0, 0),
 datetime.datetime(1972, 10, 4, 0, 0),
 datetime.datetime(1972, 11, 30, 0, 0),
 datetime.datetime(1973, 1, 1, 0, 0),
 datetime.datetime(1973, 1, 1, 0, 0),
 datetime.datetime(1973, 1, 1, 0, 0),
 datetime.datetime(1973, 2, 1, 0, 0),
 datetime.datetime(1973, 2, 14, 0, 0),
 datetime.datetime(1973, 3, 1, 0, 0),
 datetime.datetime(1973, 4, 1, 0, 0),
 datetime.datetime(1973, 6, 1, 0, 0),
 datetime.datetime(1973, 7, 1, 0, 0),
 datetime.datetime(1973, 10, 1, 0, 0),
 datetime.datetime(1973, 12, 1, 0, 0),
 datetime.datetime(1974, 1, 1, 0, 0),
 datetime.datetime(1974, 1, 1, 0, 0),
 datetime.datetime(1974, 1, 1, 0, 0),
 datetime.datetime(1974, 1, 1, 0, 0),
 datetime.datetime(1974, 1, 1, 0, 0),
 datetime.datetime(1974, 2, 1, 0, 0),
 datetime.datetime(1974, 2, 24, 0, 0),
 datetime.datetime(1974, 3, 5, 0, 0),
 datetime.datetime(1974, 3, 6, 0, 0),
 datetime.datetime(1974, 4, 1, 0, 0),
 datetime.datetime(1974, 4, 11, 0, 0),
 datetime.datetime(1974, 4, 12, 0, 0),
 datetime.datetime(1974, 5, 4, 0, 0),
 datetime.datetime(1974, 5, 26, 0, 0),
 datetime.datetime(1974, 6, 13, 0, 0),
 datetime.datetime(1974, 7, 7, 0, 0),
 datetime.datetime(1974, 8, 1, 0, 0),
 datetime.datetime(1974, 10, 10, 0, 0),
 datetime.datetime(1974, 10, 14, 0, 0),
 datetime.datetime(1975, 1, 1, 0, 0),
 datetime.datetime(1975, 1, 1, 0, 0),
 datetime.datetime(1975, 1, 1, 0, 0),
 datetime.datetime(1975, 2, 28, 0, 0),
 datetime.datetime(1975, 4, 9, 0, 0),
 datetime.datetime(1975, 7, 29, 0, 0),
 datetime.datetime(1975, 8, 1, 0, 0),
 datetime.datetime(1975, 8, 18, 0, 0),
 datetime.datetime(1975, 9, 1, 0, 0),
 datetime.datetime(1975, 9, 1, 0, 0),
 datetime.datetime(1975, 9, 27, 0, 0),
 datetime.datetime(1975, 11, 22, 0, 0),
 datetime.datetime(1975, 12, 1, 0, 0),
 datetime.datetime(1975, 12, 14, 0, 0),
 datetime.datetime(1976, 1, 1, 0, 0),
 datetime.datetime(1976, 1, 1, 0, 0),
 datetime.datetime(1976, 1, 1, 0, 0),
 datetime.datetime(1976, 1, 1, 0, 0),
 datetime.datetime(1976, 2, 11, 0, 0),
 datetime.datetime(1976, 4, 1, 0, 0),
 datetime.datetime(1976, 6, 1, 0, 0),
 datetime.datetime(1976, 9, 2, 0, 0),
 datetime.datetime(1976, 9, 20, 0, 0),
 datetime.datetime(1976, 10, 13, 0, 0),
 datetime.datetime(1977, 1, 1, 0, 0),
 datetime.datetime(1977, 1, 1, 0, 0),
 datetime.datetime(1977, 1, 1, 0, 0),
 datetime.datetime(1977, 1, 1, 0, 0),
 datetime.datetime(1977, 1, 1, 0, 0),
 datetime.datetime(1977, 2, 1, 0, 0),
 datetime.datetime(1977, 5, 1, 0, 0),
 datetime.datetime(1977, 5, 4, 0, 0),
 datetime.datetime(1977, 5, 21, 0, 0),
 datetime.datetime(1977, 6, 20, 0, 0),
 datetime.datetime(1977, 7, 11, 0, 0),
 datetime.datetime(1977, 10, 21, 0, 0),
 datetime.datetime(1978, 1, 1, 0, 0),
 datetime.datetime(1978, 1, 1, 0, 0),
 datetime.datetime(1978, 1, 1, 0, 0),
 datetime.datetime(1978, 1, 1, 0, 0),
 datetime.datetime(1978, 1, 1, 0, 0),
 datetime.datetime(1978, 2, 1, 0, 0),
 datetime.datetime(1978, 2, 2, 0, 0),
 datetime.datetime(1978, 2, 3, 0, 0),
 datetime.datetime(1978, 5, 18, 0, 0),
 datetime.datetime(1978, 7, 26, 0, 0),
 datetime.datetime(1978, 8, 4, 0, 0),
 datetime.datetime(1978, 8, 11, 0, 0),
 datetime.datetime(1978, 10, 1, 0, 0),
 datetime.datetime(1978, 10, 21, 0, 0),
 datetime.datetime(1978, 12, 1, 0, 0),
 datetime.datetime(1979, 1, 1, 0, 0),
 datetime.datetime(1979, 1, 1, 0, 0),
 datetime.datetime(1979, 4, 1, 0, 0),
 datetime.datetime(1979, 5, 1, 0, 0),
 datetime.datetime(1979, 7, 6, 0, 0),
 datetime.datetime(1979, 8, 1, 0, 0),
 datetime.datetime(1979, 9, 6, 0, 0),
 datetime.datetime(1979, 10, 1, 0, 0),
 datetime.datetime(1979, 10, 21, 0, 0),
 datetime.datetime(1979, 11, 1, 0, 0),
 datetime.datetime(1980, 1, 1, 0, 0),
 datetime.datetime(1980, 3, 1, 0, 0),
 datetime.datetime(1980, 3, 12, 0, 0),
 datetime.datetime(1980, 4, 22, 0, 0),
 datetime.datetime(1980, 5, 1, 0, 0),
 datetime.datetime(1980, 9, 1, 0, 0),
 datetime.datetime(1980, 10, 1, 0, 0),
 datetime.datetime(1980, 10, 1, 0, 0),
 datetime.datetime(1980, 10, 18, 0, 0),
 datetime.datetime(1981, 1, 1, 0, 0),
 datetime.datetime(1981, 1, 1, 0, 0),
 datetime.datetime(1981, 1, 1, 0, 0),
 datetime.datetime(1981, 1, 14, 0, 0),
 datetime.datetime(1981, 1, 14, 0, 0),
 datetime.datetime(1981, 2, 18, 0, 0),
 datetime.datetime(1981, 3, 1, 0, 0),
 datetime.datetime(1981, 6, 1, 0, 0),
 datetime.datetime(1981, 6, 29, 0, 0),
 datetime.datetime(1981, 7, 1, 0, 0),
 datetime.datetime(1981, 8, 9, 0, 0),
 datetime.datetime(1981, 8, 14, 0, 0),
 datetime.datetime(1981, 9, 19, 0, 0),
 datetime.datetime(1981, 10, 1, 0, 0),
 datetime.datetime(1982, 1, 1, 0, 0),
 datetime.datetime(1982, 4, 12, 0, 0),
 datetime.datetime(1982, 4, 13, 0, 0),
 datetime.datetime(1982, 5, 26, 0, 0),
 datetime.datetime(1982, 7, 1, 0, 0),
 datetime.datetime(1982, 7, 4, 0, 0),
 datetime.datetime(1982, 8, 16, 0, 0),
 datetime.datetime(1982, 8, 20, 0, 0),
 datetime.datetime(1982, 9, 22, 0, 0),
 datetime.datetime(1982, 10, 16, 0, 0),
 datetime.datetime(1982, 11, 1, 0, 0),
 datetime.datetime(1982, 12, 8, 0, 0),
 datetime.datetime(1982, 12, 10, 0, 0),
 datetime.datetime(1983, 1, 1, 0, 0),
 datetime.datetime(1983, 1, 1, 0, 0),
 datetime.datetime(1983, 1, 1, 0, 0),
 datetime.datetime(1983, 1, 1, 0, 0),
 datetime.datetime(1983, 1, 1, 0, 0),
 datetime.datetime(1983, 1, 27, 0, 0),
 datetime.datetime(1983, 2, 1, 0, 0),
 datetime.datetime(1983, 2, 10, 0, 0),
 datetime.datetime(1983, 3, 15, 0, 0),
 datetime.datetime(1983, 4, 1, 0, 0),
 datetime.datetime(1983, 5, 1, 0, 0),
 datetime.datetime(1983, 7, 25, 0, 0),
 datetime.datetime(1983, 8, 6, 0, 0),
 datetime.datetime(1983, 8, 22, 0, 0),
 datetime.datetime(1983, 10, 21, 0, 0),
 datetime.datetime(1983, 11, 14, 0, 0),
 datetime.datetime(1984, 1, 1, 0, 0),
 datetime.datetime(1984, 1, 1, 0, 0),
 datetime.datetime(1984, 7, 25, 0, 0),
 datetime.datetime(1984, 9, 1, 0, 0),
 datetime.datetime(1984, 9, 17, 0, 0),
 datetime.datetime(1984, 11, 1, 0, 0),
 datetime.datetime(1985, 1, 1, 0, 0),
 datetime.datetime(1985, 1, 1, 0, 0),
 datetime.datetime(1985, 1, 1, 0, 0),
 datetime.datetime(1985, 1, 1, 0, 0),
 datetime.datetime(1985, 2, 11, 0, 0),
 datetime.datetime(1985, 3, 31, 0, 0),
 datetime.datetime(1985, 5, 11, 0, 0),
 datetime.datetime(1985, 6, 15, 0, 0),
 datetime.datetime(1985, 6, 18, 0, 0),
 datetime.datetime(1985, 7, 1, 0, 0),
 datetime.datetime(1985, 8, 17, 0, 0),
 datetime.datetime(1985, 10, 10, 0, 0),
 datetime.datetime(1985, 11, 3, 0, 0),
 datetime.datetime(1986, 1, 1, 0, 0),
 datetime.datetime(1986, 1, 1, 0, 0),
 datetime.datetime(1986, 1, 1, 0, 0),
 datetime.datetime(1986, 1, 24, 0, 0),
 datetime.datetime(1986, 3, 1, 0, 0),
 datetime.datetime(1986, 3, 7, 0, 0),
 datetime.datetime(1986, 5, 1, 0, 0),
 datetime.datetime(1986, 7, 18, 0, 0),
 datetime.datetime(1986, 7, 27, 0, 0),
 datetime.datetime(1986, 8, 1, 0, 0),
 datetime.datetime(1986, 10, 1, 0, 0),
 datetime.datetime(1986, 10, 1, 0, 0),
 datetime.datetime(1986, 10, 13, 0, 0),
 datetime.datetime(1986, 10, 24, 0, 0),
 datetime.datetime(1986, 11, 1, 0, 0),
 datetime.datetime(1986, 12, 1, 0, 0),
 datetime.datetime(1986, 12, 26, 0, 0),
 datetime.datetime(1987, 1, 1, 0, 0),
 datetime.datetime(1987, 1, 1, 0, 0),
 datetime.datetime(1987, 1, 21, 0, 0),
 datetime.datetime(1987, 4, 12, 0, 0),
 datetime.datetime(1987, 5, 1, 0, 0),
 datetime.datetime(1987, 6, 24, 0, 0),
 datetime.datetime(1987, 6, 28, 0, 0),
 datetime.datetime(1987, 7, 1, 0, 0),
 datetime.datetime(1987, 10, 11, 0, 0),
 datetime.datetime(1987, 10, 25, 0, 0),
 datetime.datetime(1987, 12, 4, 0, 0),
 datetime.datetime(1987, 12, 5, 0, 0),
 datetime.datetime(1988, 1, 1, 0, 0),
 datetime.datetime(1988, 1, 1, 0, 0),
 datetime.datetime(1988, 1, 1, 0, 0),
 datetime.datetime(1988, 5, 24, 0, 0),
 datetime.datetime(1988, 8, 1, 0, 0),
 datetime.datetime(1988, 11, 11, 0, 0),
 datetime.datetime(1988, 12, 4, 0, 0),
 datetime.datetime(1988, 12, 9, 0, 0),
 datetime.datetime(1989, 1, 1, 0, 0),
 datetime.datetime(1989, 1, 1, 0, 0),
 datetime.datetime(1989, 1, 1, 0, 0),
 datetime.datetime(1989, 4, 5, 0, 0),
 datetime.datetime(1989, 4, 13, 0, 0),
 datetime.datetime(1989, 5, 14, 0, 0),
 datetime.datetime(1989, 5, 15, 0, 0),
 datetime.datetime(1989, 6, 1, 0, 0),
 datetime.datetime(1989, 7, 1, 0, 0),
 datetime.datetime(1989, 8, 1, 0, 0),
 datetime.datetime(1989, 8, 11, 0, 0),
 datetime.datetime(1989, 8, 26, 0, 0),
 datetime.datetime(1989, 9, 9, 0, 0),
 datetime.datetime(1989, 9, 22, 0, 0),
 datetime.datetime(1989, 10, 24, 0, 0),
 datetime.datetime(1989, 12, 1, 0, 0),
 datetime.datetime(1990, 1, 1, 0, 0),
 datetime.datetime(1990, 1, 1, 0, 0),
 datetime.datetime(1990, 1, 1, 0, 0),
 datetime.datetime(1990, 1, 18, 0, 0),
 datetime.datetime(1990, 2, 10, 0, 0),
 datetime.datetime(1990, 3, 1, 0, 0),
 datetime.datetime(1990, 3, 3, 0, 0),
 datetime.datetime(1990, 4, 11, 0, 0),
 datetime.datetime(1990, 5, 24, 0, 0),
 datetime.datetime(1990, 6, 22, 0, 0),
 datetime.datetime(1990, 10, 23, 0, 0),
 datetime.datetime(1990, 11, 5, 0, 0),
 datetime.datetime(1990, 12, 8, 0, 0),
 datetime.datetime(1991, 1, 1, 0, 0),
 datetime.datetime(1991, 1, 1, 0, 0),
 datetime.datetime(1991, 1, 7, 0, 0),
 datetime.datetime(1991, 3, 31, 0, 0),
 datetime.datetime(1991, 4, 19, 0, 0),
 datetime.datetime(1991, 5, 24, 0, 0),
 datetime.datetime(1991, 6, 20, 0, 0),
 datetime.datetime(1991, 7, 1, 0, 0),
 datetime.datetime(1991, 7, 6, 0, 0),
 datetime.datetime(1991, 7, 15, 0, 0),
 datetime.datetime(1991, 10, 29, 0, 0),
 datetime.datetime(1992, 1, 1, 0, 0),
 datetime.datetime(1992, 1, 1, 0, 0),
 datetime.datetime(1992, 1, 1, 0, 0),
 datetime.datetime(1992, 2, 5, 0, 0),
 datetime.datetime(1992, 2, 22, 0, 0),
 datetime.datetime(1992, 4, 17, 0, 0),
 datetime.datetime(1992, 6, 13, 0, 0),
 datetime.datetime(1992, 7, 17, 0, 0),
 datetime.datetime(1992, 8, 16, 0, 0),
 datetime.datetime(1992, 9, 1, 0, 0),
 datetime.datetime(1992, 10, 1, 0, 0),
 datetime.datetime(1992, 10, 14, 0, 0),
 datetime.datetime(1992, 12, 1, 0, 0),
 datetime.datetime(1992, 12, 15, 0, 0),
 datetime.datetime(1993, 1, 1, 0, 0),
 datetime.datetime(1993, 1, 1, 0, 0),
 datetime.datetime(1993, 1, 1, 0, 0),
 datetime.datetime(1993, 1, 1, 0, 0),
 datetime.datetime(1993, 2, 1, 0, 0),
 datetime.datetime(1993, 3, 1, 0, 0),
 datetime.datetime(1993, 3, 25, 0, 0),
 datetime.datetime(1993, 5, 6, 0, 0),
 datetime.datetime(1993, 6, 5, 0, 0),
 datetime.datetime(1993, 8, 23, 0, 0),
 datetime.datetime(1993, 10, 1, 0, 0),
 datetime.datetime(1994, 1, 1, 0, 0),
 datetime.datetime(1994, 1, 1, 0, 0),
 datetime.datetime(1994, 1, 1, 0, 0),
 datetime.datetime(1994, 1, 29, 0, 0),
 datetime.datetime(1994, 2, 1, 0, 0),
 datetime.datetime(1994, 2, 18, 0, 0),
 datetime.datetime(1994, 6, 12, 0, 0),
 datetime.datetime(1994, 6, 28, 0, 0),
 datetime.datetime(1994, 7, 1, 0, 0),
 datetime.datetime(1994, 7, 29, 0, 0),
 datetime.datetime(1994, 8, 14, 0, 0),
 datetime.datetime(1994, 10, 1, 0, 0),
 datetime.datetime(1994, 12, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 1, 1, 0, 0),
 datetime.datetime(1995, 1, 18, 0, 0),
 datetime.datetime(1995, 2, 14, 0, 0),
 datetime.datetime(1995, 3, 1, 0, 0),
 datetime.datetime(1995, 3, 14, 0, 0),
 datetime.datetime(1995, 5, 1, 0, 0),
 datetime.datetime(1995, 5, 1, 0, 0),
 datetime.datetime(1995, 6, 17, 0, 0),
 datetime.datetime(1995, 7, 24, 0, 0),
 datetime.datetime(1995, 8, 18, 0, 0),
 datetime.datetime(1995, 9, 6, 0, 0),
 datetime.datetime(1995, 10, 13, 0, 0),
 datetime.datetime(1995, 10, 21, 0, 0),
 datetime.datetime(1996, 1, 1, 0, 0),
 datetime.datetime(1996, 1, 1, 0, 0),
 datetime.datetime(1996, 1, 22, 0, 0),
 datetime.datetime(1996, 2, 6, 0, 0),
 datetime.datetime(1996, 2, 27, 0, 0),
 datetime.datetime(1996, 10, 2, 0, 0),
 datetime.datetime(1996, 10, 14, 0, 0),
 datetime.datetime(1996, 11, 11, 0, 0),
 datetime.datetime(1997, 1, 1, 0, 0),
 datetime.datetime(1997, 1, 1, 0, 0),
 datetime.datetime(1997, 7, 1, 0, 0),
 datetime.datetime(1997, 7, 11, 0, 0),
 datetime.datetime(1997, 8, 9, 0, 0),
 datetime.datetime(1997, 10, 1, 0, 0),
 datetime.datetime(1997, 10, 5, 0, 0),
 datetime.datetime(1997, 12, 8, 0, 0),
 datetime.datetime(1998, 1, 1, 0, 0),
 datetime.datetime(1998, 1, 1, 0, 0),
 datetime.datetime(1998, 1, 1, 0, 0),
 datetime.datetime(1998, 2, 15, 0, 0),
 datetime.datetime(1998, 4, 24, 0, 0),
 datetime.datetime(1998, 5, 15, 0, 0),
 datetime.datetime(1998, 6, 1, 0, 0),
 datetime.datetime(1998, 7, 21, 0, 0),
 datetime.datetime(1998, 7, 25, 0, 0),
 datetime.datetime(1998, 8, 1, 0, 0),
 datetime.datetime(1998, 10, 4, 0, 0),
 datetime.datetime(1998, 11, 1, 0, 0),
 datetime.datetime(1998, 12, 22, 0, 0),
 datetime.datetime(1999, 1, 1, 0, 0),
 datetime.datetime(1999, 1, 1, 0, 0),
 datetime.datetime(1999, 1, 1, 0, 0),
 datetime.datetime(1999, 1, 1, 0, 0),
 datetime.datetime(1999, 1, 5, 0, 0),
 datetime.datetime(1999, 2, 1, 0, 0),
 datetime.datetime(1999, 4, 1, 0, 0),
 datetime.datetime(1999, 5, 1, 0, 0),
 datetime.datetime(1999, 7, 24, 0, 0),
 datetime.datetime(1999, 8, 1, 0, 0),
 datetime.datetime(1999, 10, 18, 0, 0),
 datetime.datetime(1999, 12, 23, 0, 0),
 datetime.datetime(2000, 1, 1, 0, 0),
 datetime.datetime(2000, 1, 1, 0, 0),
 datetime.datetime(2000, 1, 1, 0, 0),
 datetime.datetime(2000, 2, 1, 0, 0),
 datetime.datetime(2000, 3, 1, 0, 0),
 datetime.datetime(2000, 5, 1, 0, 0),
 datetime.datetime(2000, 8, 1, 0, 0),
 datetime.datetime(2000, 8, 10, 0, 0),
 datetime.datetime(2000, 8, 23, 0, 0),
 datetime.datetime(2000, 9, 1, 0, 0),
 datetime.datetime(2000, 9, 14, 0, 0),
 datetime.datetime(2000, 11, 1, 0, 0),
 datetime.datetime(2001, 1, 1, 0, 0),
 datetime.datetime(2001, 1, 1, 0, 0),
 datetime.datetime(2001, 1, 24, 0, 0),
 datetime.datetime(2001, 5, 26, 0, 0),
 datetime.datetime(2001, 5, 30, 0, 0),
 datetime.datetime(2001, 5, 30, 0, 0),
 datetime.datetime(2001, 6, 1, 0, 0),
 datetime.datetime(2001, 9, 1, 0, 0),
 datetime.datetime(2001, 10, 1, 0, 0),
 datetime.datetime(2002, 1, 1, 0, 0),
 datetime.datetime(2002, 3, 1, 0, 0),
 datetime.datetime(2002, 4, 1, 0, 0),
 datetime.datetime(2002, 4, 13, 0, 0),
 datetime.datetime(2002, 6, 1, 0, 0),
 datetime.datetime(2002, 6, 28, 0, 0),
 datetime.datetime(2002, 7, 18, 0, 0),
 datetime.datetime(2002, 8, 1, 0, 0),
 datetime.datetime(2002, 11, 11, 0, 0),
 datetime.datetime(2003, 1, 1, 0, 0),
 datetime.datetime(2003, 3, 1, 0, 0),
 datetime.datetime(2003, 7, 1, 0, 0),
 datetime.datetime(2003, 8, 1, 0, 0),
 datetime.datetime(2003, 9, 1, 0, 0),
 datetime.datetime(2003, 10, 6, 0, 0),
 datetime.datetime(2004, 1, 1, 0, 0),
 datetime.datetime(2004, 1, 1, 0, 0),
 datetime.datetime(2004, 1, 1, 0, 0),
 datetime.datetime(2004, 1, 1, 0, 0),
 datetime.datetime(2004, 1, 1, 0, 0),
 datetime.datetime(2004, 1, 1, 0, 0),
 datetime.datetime(2004, 3, 12, 0, 0),
 datetime.datetime(2004, 4, 8, 0, 0),
 datetime.datetime(2004, 5, 1, 0, 0),
 datetime.datetime(2004, 5, 1, 0, 0),
 datetime.datetime(2004, 7, 1, 0, 0),
 datetime.datetime(2004, 8, 12, 0, 0),
 datetime.datetime(2004, 9, 10, 0, 0),
 datetime.datetime(2004, 11, 11, 0, 0),
 datetime.datetime(2004, 12, 1, 0, 0),
 datetime.datetime(2005, 1, 1, 0, 0),
 datetime.datetime(2005, 1, 1, 0, 0),
 datetime.datetime(2005, 5, 1, 0, 0),
 datetime.datetime(2005, 6, 1, 0, 0),
 datetime.datetime(2005, 9, 1, 0, 0),
 datetime.datetime(2005, 12, 1, 0, 0),
 datetime.datetime(2006, 1, 1, 0, 0),
 datetime.datetime(2006, 1, 1, 0, 0),
 datetime.datetime(2006, 1, 1, 0, 0),
 datetime.datetime(2006, 2, 11, 0, 0),
 datetime.datetime(2006, 4, 27, 0, 0),
 datetime.datetime(2006, 5, 1, 0, 0),
 datetime.datetime(2006, 10, 18, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 1, 1, 0, 0),
 datetime.datetime(2007, 4, 1, 0, 0),
 datetime.datetime(2007, 4, 1, 0, 0),
 datetime.datetime(2007, 6, 1, 0, 0),
 datetime.datetime(2007, 9, 1, 0, 0),
 datetime.datetime(2007, 10, 21, 0, 0),
 datetime.datetime(2007, 11, 1, 0, 0),
 datetime.datetime(2007, 11, 30, 0, 0),
 datetime.datetime(2007, 12, 1, 0, 0),
 datetime.datetime(2008, 1, 1, 0, 0),
 datetime.datetime(2008, 1, 1, 0, 0),
 datetime.datetime(2008, 1, 1, 0, 0),
 datetime.datetime(2008, 1, 1, 0, 0),
 datetime.datetime(2008, 1, 14, 0, 0),
 datetime.datetime(2008, 5, 26, 0, 0),
 datetime.datetime(2008, 8, 1, 0, 0),
 datetime.datetime(2008, 11, 1, 0, 0),
 datetime.datetime(2008, 12, 1, 0, 0),
 datetime.datetime(2009, 1, 1, 0, 0),
 datetime.datetime(2009, 1, 1, 0, 0),
 datetime.datetime(2009, 1, 1, 0, 0),
 datetime.datetime(2009, 1, 1, 0, 0),
 datetime.datetime(2009, 2, 1, 0, 0),
 datetime.datetime(2009, 7, 1, 0, 0),
 datetime.datetime(2009, 8, 1, 0, 0),
 datetime.datetime(2009, 12, 1, 0, 0),
 datetime.datetime(2010, 1, 1, 0, 0),
 datetime.datetime(2010, 1, 1, 0, 0),
 datetime.datetime(2010, 3, 1, 0, 0),
 datetime.datetime(2010, 5, 1, 0, 0),
 datetime.datetime(2010, 5, 26, 0, 0),
 datetime.datetime(2010, 8, 1, 0, 0),
 datetime.datetime(2010, 10, 1, 0, 0),
 datetime.datetime(2010, 11, 1, 0, 0),
 datetime.datetime(2010, 11, 1, 0, 0),
 datetime.datetime(2010, 12, 5, 0, 0),
 datetime.datetime(2011, 1, 1, 0, 0),
 datetime.datetime(2011, 1, 1, 0, 0),
 datetime.datetime(2011, 1, 1, 0, 0),
 datetime.datetime(2011, 1, 1, 0, 0),
 datetime.datetime(2011, 1, 1, 0, 0),
 datetime.datetime(2011, 1, 24, 0, 0),
 datetime.datetime(2011, 1, 25, 0, 0),
 datetime.datetime(2011, 5, 1, 0, 0),
 datetime.datetime(2011, 6, 13, 0, 0),
 datetime.datetime(2011, 7, 20, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 4, 1, 0, 0),
 datetime.datetime(2012, 5, 1, 0, 0),
 datetime.datetime(2012, 5, 12, 0, 0),
 datetime.datetime(2012, 6, 25, 0, 0),
 datetime.datetime(2012, 9, 1, 0, 0),
 datetime.datetime(2012, 9, 1, 0, 0),
 datetime.datetime(2012, 10, 21, 0, 0),
 datetime.datetime(2012, 12, 1, 0, 0),
 datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 4, 1, 0, 0),
 datetime.datetime(2013, 9, 1, 0, 0),
 datetime.datetime(2014, 1, 1, 0, 0),
 datetime.datetime(2014, 1, 1, 0, 0),
 datetime.datetime(2014, 7, 1, 0, 0),
 datetime.datetime(2014, 10, 1, 0, 0),
 datetime.datetime(2014, 10, 1, 0, 0),
 datetime.datetime(2014, 12, 1, 0, 0),
 datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2015, 9, 1, 0, 0),
 datetime.datetime(2015, 9, 28, 0, 0),
 datetime.datetime(2016, 1, 1, 0, 0),
 datetime.datetime(2016, 2, 1, 0, 0),
 datetime.datetime(2016, 5, 1, 0, 0),
 datetime.datetime(2016, 5, 1, 0, 0),
 datetime.datetime(2016, 5, 30, 0, 0),
 datetime.datetime(2016, 10, 13, 0, 0),
 datetime.datetime(2016, 10, 19, 0, 0),
 datetime.datetime(2016, 11, 1, 0, 0)]

In [ ]:
len(fechas_ordenadas)

500

La primera fecha es: 10 Abril 1971

La última fecha es: Nov 2016